@model QuizSummaryViewModel
@{
    ViewData["Title"] = "QuizSummary";
}

<h1>QuizSummary</h1>

<h2>@Model.SummaryText You had @Model.CorrectAnswers (@Model.PercentageCorrect.ToString("#.##")%) answers right!</h2>
<div class="progress">
    <div class="progress-bar @Model.ProgressBarColor" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @((int)Model.PercentageCorrect)%"></div>
</div>


@for (int i = 0; i < Model.Questions.Count; i++)
{
    <div class="my-5">
        <h4>@Model.Questions[i].Text</h4>
        
        <ul class="list-group">
            @for (int j = 0; j < Model.Questions[i].Answers.Length; j++)
            {
                <li class="list-group-item @Model.ClassNamesForAnswer(@Model.Questions[i].Answers[j],i)">@Model.Questions[i].Answers[j].Text</li>
            }
        </ul>

    </div>
}

<a asp-controller="Question" asp-action="GetAll" class="btn btn-primary">Return</a>


